@media screen and (max-width: 479px) {
  label {
    display: block;
    margin: 0.5em 0 0 0;
  }
  .email,
  .texto,
  .cantidad {
    display: inline-block;
    width: 40%;
  }
  main {
    text-align: center;
  }
  input {
    margin: 3px;
  }
}
@media screen and (max-width: 1023px) {
  label {
    display: block;
    margin: 0.5em 0 0 0;
  }
  .email,
  .texto,
  .cantidad {
    display: inline-block;
    width: 40%;
  }
  main {
    text-align: center;
  }
  input {
    margin: 3px;
  }
}
@media screen and (min-width: 1024px) {
  label {
    display: block;
    margin: 0.5em 0 0 0;
  }
  .email,
  .texto,
  .cantidad {
    display: inline-block;
    width: 40%;
  }
  main {
    text-align: center;
  }
  input {
    margin: 3px;
  }
}

input{
  outline: none;
  border-radius: 10em;
}
textarea {
  border-radius: 1em;
  outline: none;
}